.visibility_visible {
  visibility: visible;
}

.visibility_hidden {
  visibility: hidden;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #d3d3d3;
  padding-bottom: 10px;
}

.header .logo {
  height: 100%;
}

.header .search {
  padding: 3px;
  border: 2px solid #d3d3d3;
  border-radius: 2px;
  width: 30vw;
  font-size: 20px;
}

.header .icon-list {
  height: 100%;
}

.story-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  padding-right: 20%;
  padding-left: 20%;
  height: 90px;
}

.story-container .story-element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story-container .story {
  width: 60px;
  height: 60px;
  border: 2px solid orange;
  border-radius: 50%;
  background-color: gray;
}

.story-container .story-owner {
  margin-top: 5px;
  font-size: 15px;
}

.article-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 10px auto;
  border: 2px solid #d3d3d3;
}

/* profile-container 부분 시작 */
.profile-container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.profile {
  width: 20%;
  display: flex;
}

.profile-name {
  margin-left: 10px;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
}

.profile-image {
  width: 40px;
  border-radius: 10px;
}

.menu {
  width: 40px;
  height: 4 0px;
  background-image: radial-gradient(circle, black 2px, transparent 2.1px);
  background-size: 100% 33.33%;
}
/* profile-container 부분 끝 */

/* 이미지 부분 시작*/
.article {
  width: 100%;
}
/* 이미지 부분 끝*/

/* button-container 부분 시작 */
.button-container {
  border-bottom: 2px solid #d3d3d3;
  padding-top: 5px;
}
.feed-buttons {
  width: 40px;
  margin-left: 3px;
}
/* button-container 부분 끝 */

/* comment container 부분 시작*/
.comment-container {
  padding: 5px 0px;
  display: flex;
  width: 100%;
  position: relative;
}
.smile {
  width: 50px;
}

.comment {
  height: 40px;
  border: none;
  width: 80%;
  font-size: 18px;
}

.comment-button {
  width: 10%;
  border: none;
  background-color: rgb(0, 0, 0, 0);
  color: blue;
  opacity: 50%;
  font-size: 18px;
  position: absolute;
  right: 20px;
  height: 45px;
}

.comment-button:hover {
  opacity: 100%;
}
/* comment container 부분 끝*/

/* 피드 부분 끝*/

.footer-message {
  display: flex;
  justify-content: center;
  color: gray;
  font-size: 15px;
}

.story-modal {
  display: none; /* 모달창 숨겨 놓기 */
  position: fixed;
  z-index: 1; /* 모달창을 제일 앞에 두기 */
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* 스크롤 허용 auto */
  cursor: pointer; /* 마우스 손가락모양 */
  background-color: #1a1a1a; /* 0.8은 투명도*/
}
.story-modal .xButton {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
}
.logo_black {
  position: absolute;
  top: 10px;
  left: 15px;
  height: 50px;
}
#story-image {
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 모달 가운데에 놓기 */
  width: 30vw;
  height: 95vh;
}
#story_real {
  position: fixed;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%); /* 모달 가운데에 놓기 */
  width: 30vw;
  height: 10vh;
  display: flex;
}
#story_text {
  z-index: 2;
  width: 250px;
  height: 40px;
  border-radius: 20px;
  margin-left: 30px;
  padding-left: 20px;
  margin-right: 20px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  color: white;
}

.story_icon {
  width: 45px;
  height: 40px;
}
.story_icon:hover {
  opacity: 50%;
}
#profile-modal {
  display: none;
  width: 650px;
  height: 500px;
}
#like-count-text {
  padding-left: 6px;
  padding-bottom: 6px;
  font-size: 18px;
}

#red-heart {
  display: none;
}

#like_modal {
  position: fixed;
  width: 480px;
  height: 120px;
  top: 1%;
  right: -100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 25px;
  border-radius: 20px;
}
#like_modal_pofile {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-right: 10px;
  margin-left: 10px;
}
#like_modal_pofile2 {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;
}
#like_modal_xbutton {
  position: absolute;
  top: 5%;
  right: 4%;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}
.comment-wrapper {
  margin-left: 10px;
}

.comment-wrapper li {
  height: 40px;
}

.comment-delete-icon {
  width: 12px;
  height: 12px;
  margin-left: 10px;
  cursor: pointer;
  font-weight: bold;
}

.iconHover:hover {
  opacity: 50%;
}
