.display_block {
  display: block;
}

.display_none {
  display: none;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  border-bottom: 2px solid #d3d3d3;
  padding-bottom: 10px;
}

.header .logo {
  height: 100%;
}

.header .search {
  padding: 3px;
  border: 2px solid #d3d3d3;
  border-radius: 2px;
}

.header .icon-list {
  height: 100%;
}

.story-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  padding-right: 20%;
  padding-left: 20%;
  height: 20%;
}

.story-container .story-element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story-container .story {
  width: 40px;
  height: 40px;
  border: 2px solid orange;
  border-radius: 50%;
  background-color: gray;
}

.story-container .story-owner {
  margin-top: 2px;
  font-size: 8px;
}

.article-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 10px auto;
  border: 2px solid #d3d3d3;
}

/* profile-container 부분 시작 */
.profile-container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.profile {
  width: 20%;
  display: flex;
}

.profile-name {
  margin-left: 5px;
  font-weight: bold;
}

.profile-image {
  width: 20px;
  border-radius: 10px;
}

.menu {
  width: 20px;
  height: 20px;
  background-image: radial-gradient(circle, black 2px, transparent 2.1px);
  background-size: 100% 33.33%;
}
/* profile-container 부분 끝 */

/* 이미지 부분 시작*/
.article {
  width: 100%;
}
/* 이미지 부분 끝*/

/* button-container 부분 시작 */
.button-container {
  border-bottom: 2px solid #d3d3d3;
  padding-top: 5px;
}
.feed-buttons {
  width: 40px;
  margin-left: 3px;
}
/* button-container 부분 끝 */

/* comment container 부분 시작*/
.comment-container {
  padding: 5px 0px;
  display: flex;
  width: 100%;
}
.smile {
  width: 30px;
}

.comment {
  height: 25px;
  border: none;
  width: 80%;
}

.comment-button {
  border: none;
  background-color: rgb(0, 0, 0, 0);
  color: blue;
  opacity: 50%;
}
/* comment container 부분 끝*/

/* 피드 부분 끝*/

.footer-message {
  display: flex;
  justify-content: center;
  color: gray;
  font-size: 15px;
}
